<template>
  <div id="frontend">
    <a v-if="isError" href="" @click="location.reload()">請重新整理</a>
    <ul class="images" v-else>
      <li v-for="img in data.images" :key="img">
        <img :src="img" :alt="data.title" loading="lazy" crossorigin="anonymous" onerror="handleError()">
      </li>
    </ul>
    <h6>
      {{ data.title }}
      <span v-if="data.project_url">
        <a :href="data.project_url" target="_blank">詳細</a>
      </span>
    </h6>
    <ul class="detail">
      <li v-for="info in data.content">{{ info }}</li>
    </ul>
  </div>
</template>

<script setup>
import { ref, computed } from '@vue/runtime-core'
import { useRoute, useRouter } from 'vue-router'

const route = useRoute()
const router = useRouter()
const props = defineProps(['datas'])

const datas = computed(() => props.datas)
const data = computed(() => {
  const hasData = datas.value && datas.value[route.params.name]?.collection.find((item) => item.type === route.params.tag)
  return {
    title: hasData ? hasData?.title : '',
    project_url: hasData ? hasData?.project_url : '',
    images: hasData ? hasData?.images : [],
    content: hasData ? hasData?.content : []
  }
})
const main = computed(() => {
  const hasData = data.value !== undefined
  return {
    title: hasData ? data.value?.title : '',
    project_url: hasData ? data.value?.project_url : '',
    images: hasData ? data.value?.images : [],
    content: hasData ? data.value?.content : []
  }
})
const isError = ref(false)

const handleError = () => {
  isError.value = true;
}
</script>

<style lang="scss" scoped>
h6 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}
span {
  font-size: 12px;
  background-color: rgba($primaryPinkDark, 0.15);
  padding: 3px 5px;
  margin-right: 6px;
  box-shadow: 0 0 10px #00000010;
}
.detail li {
  line-height: 2;
  list-style: disc outside;
  margin-left: 20px;
  margin-bottom: 10px;
}
.images {
  max-width: 100%;
  display: flex;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
  li {
    flex: 0 0 auto;
    border-bottom: 1px solid #ecedea;
    box-shadow: 0 0 10px #00000010;
    img {
      width: 100%;
      min-width: 200px;
      max-height: 300px;
      min-height: 110px;
      height: 100%;
      aspect-ratio: auto;
      background-color: #ecedea;
    }
  }
}
@media screen and (max-width: 768px) {
  .images li img {
    max-height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .images li img {
    max-height: 150px;
  }
}
</style>