<template>
  <a v-if="isError" href="" @click="location.reload()">請重新整理</a>
  <ul class="list" v-else>
    <template v-for="(data, name) in datas" :key="data">
      <li v-for="item in data.collection" :key="item.type">
        <router-link  :to="{ name: 'frontendInfo', params: { name, tag: item.type } }">
          <img :src="item.cover" :alt="item.title" loading="lazy" crossorigin="anonymous" onerror="handleError()">
          <h6>{{item.label}}</h6>
          <div class="tags">
            <span v-for="tag in item.tags" :key="tag">
              #{{tag}}
            </span>
          </div>
        </router-link>
      </li>
    </template>
  </ul>
</template>

<script setup>
import { ref, computed } from 'vue'

const props = defineProps(['datas'])
const datas = computed(() => props.datas)
const isError = ref(false)

const handleError = () => {
  isError.value = true;
}
</script>

<style lang="scss" scoped>
.list {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  box-sizing: border-box;
  li {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    transition: transform ease-in 1s, box-shadow ease-in 0.3s, background-color ease-in 0.3s;
    &:hover {
      transform: scale(101%);
      background-color: rgba($primaryPink, 0.1);
      box-shadow: 0 2px 0 $primaryPink, 0 0 10px rgba($primaryPink, 0.2);
      transition: transform ease-out 1s, box-shadow ease-out 0.3s, background-color ease-out 0.3s;
    }
  }
  img {
    width: 100%;
    min-height: 100px;
    height: 100%;
    aspect-ratio: auto;
    background-color: #ecedea;
  }
  h6 {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
  }
  a {
    color: inherit;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
  }
  .tags {
    color: rgba($dark, 0.5);
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  .list li {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .list li {
    width: 100%;
  }
}
</style>