<template>
  <router-view :datas="datas" />
</template>
<script setup>
import { ref, onBeforeMount } from 'vue'

const datas = ref(null)

onBeforeMount(async () => {
  datas.value = await fetch('https://agneskao.gitlab.io/assets/data/portfolio.json')
  .then(res => {
    return res.json()
  })
})
</script>