<template>
  <div class="section">
    <h2>
      高慈謙
      <span><a href="https://agnes-kao.notion.site/Agnes-Kao-5f79c90823544276bb6f37220f569b91" target="_blank">Resume</a></span>
    </h2>
    <ul>
      <li>國立虎尾科技大學NFU 多媒體設計系 學士</li>
      <li><span>Email</span>oyan114@hotmail.com</li>
      <li><span>GitHub</span>tzuchienkao</li>
    </ul>
  </div>
  <div class="section">
    <h3>現職</h3>
    <p>一零四資訊科技有限公司 前端工程師</p>
  </div>
  <div class="section">
    <h3>專業技能</h3>
    <ul>
      <li>
        <h6>HTML, CSS, ECMAScript (JavaScript) <span>前端必備</span></h6>
        <ul>
          <li>熟悉 HTML, CSS 進行頁面布局，透過 Emmet 及 LESS / SCSS (OOCSS) 編寫結構化的程式碼，能不依賴 Framework 進行 RWD 客製化，亦能運用 UI Framework 開發，增加網頁可讀性與維護性，亦能縮短開發時程，更助於網頁 SEO。</li>
          <li>
            了解 JavaScript (ES5 / ES6) 基本語法。
          </li>
        </ul>
      </li>
      <li>
        <h6>Vue.js (Vue 2.x / Vue 3.x Composition API), Nuxt.js <span>前端框架</span></h6>
      </li>
      <li>
        <h6>Quasar.js, Element-ui, Bootstrap <span>UI Framework 加速開發 Combo 技</span></h6>
      </li>
      <li>
        <h6>支線技能</h6>
        <ul>
          <li>
            熟悉 CDD (Component-Driven Development) 開發法，拆分並統整組件，遵循元件的使用方法。
          </li>
          <li>
            善與後端以 Axios / AJAX 方法串接 json 格式資料，並遵循 RESTful API規範，使用 Promise 物件建立非同步運作。
          </li>
          <li>
            遵循 ESLint / Prettier / Vetur Programming Style 團隊規則，並與 git 整合，建立易於維護的程式碼。
          </li>
          <li>仰賴 git / github / GitLab (command line / GUI) 做檔案版本控制。</li>
          <li>
            與 APP 團隊溝通建立共同規則，達到行動版網頁與 APP 產品連結。
          </li>
          <li>
            熟悉使用 Figma, Zeplin, Adobe Photoshop, Adobe Illustrator 製作網頁視覺設計及自製 CSS sprite，進行開發時亦能輔助切版。
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="section">
    <h3>自我介紹</h3>
    <h6>
      畢業後，一直從事著網頁設計的職位。因緣際會之下，選擇創業，做做小本生意；重回職場後，選擇轉職為前端工程師。<br />這些成長，無形中讓自己有著斜槓青年的開放心胸。
    </h6>
    <p>在大學時期及設計職涯中，對能跳脫於平面的設計更加吸引我的注意。從 Flash (RIP) 到接觸 HTML、CSS，透過學習且實作出來，讓不擅長的領域能有發揮的可能！</p>
    <p>2012年左右逐步自學網頁相關程式：</p>
    <ul>
      <li>以致敬的角度，從瀏覽器的「檢視原始碼」、「另存網頁」存至電腦中，從中修改得到想要的成果，獲得成就感！並在其中接觸到 jQuery</li>
      <li>為了能快速接軌職場，接觸到「飛肯設計」，2014年學習 JavaScript，2018年選擇學習與 jQuery 類似寫法的 Vue.js</li>
      <li>隔行如隔山，為了能更貼近前端工程師，透過 conference、訂閱國外的技術電子報、參加各種社團等等管道得知相關資訊</li>
    </ul>
    <p>透過筆記，更能加深體驗。如果你對我的小本本也感興趣，歡迎點擊下方：）</p>
    <ul>
      <li>
        <a href="https://github.com/tzuchienkao/f2e-exam/blob/master/docs/hexschool/chat_talker/README.md" title="想證明自己，就參加了" target="_blank">六角體驗營</a>
      </li>
      <li>
        <a href="https://agnes-kao.notion.site/ad4f84cb6d9d4dc193335ecdb9d924c5" title="藉由 team building，更認識手沖" target="_blank">手沖咖啡</a>
      </li>
      <li>
        <a href="https://agnes-kao.notion.site/Bahasa-1e8b4cd56ffd4a47bf255e10e3ef20a2" title="公司鼓勵學習印尼文，藉以了解當地文化" target="_blank">Bahasa</a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
h2, h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
ul {
  line-height: 2;
  ul > li {
    list-style: disc outside;
    margin-left: 20px;
  }
  h6 {
    font-weight: bold;
  }
}
a, a:hover, a:active, a:visited {
  color: $primaryPinkDark;
  text-decoration: underline;
}
span {
  font-size: 12px;
  background-color: rgba($primaryPinkDark, 0.15);
  padding: 3px 5px;
  margin-right: 6px;
  box-shadow: 0 0 10px #00000010;
}
.section {
  line-height: 2;
  margin: 20px 0;
  ul li {
    margin-bottom: 10px;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    ul {
      &:not(:last-child) li {
        list-style: disc outside;
        margin-left: 1em;
      }
      &:last-child li {
        margin-left: 1em;
        &::before {
          content: "\2022";
          color: $primaryPinkDark;
          display: inline-block;
          width: 1em;
          margin-left: -1em; 
        }
      }
    }
  }
  h6 {
    span {
      font-weight: normal;
      margin-left: 10px;
    }
  }
}
</style>