<template>
  <div id="design">
    <ul class="list_box">
      <li>
        <a href="javascript:void(0)" data-demo="banner" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/wl-001Star.jpg" alt="" />
            </dt>
            <dd>
              <h6>廣告橫幅</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="cis" @click.stop="postData">
          <dl>
            <dt>
              <img
                src="@/assets/images/smallImg/fl-001SiteLuxsent.jpg"
                alt=""
              />
            </dt>
            <dd>
              <h6>識別系統</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="print" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/wl-011Maz_jw.jpg" alt="" />
            </dt>
            <dd>
              <h6>印刷物</h6>
            </dd>
          </dl>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "design",
  methods: {
    postData(evt) {
      let item = evt.currentTarget;
      this.$emit("getData", item);
    }
  }
};
</script>
