<template>
  <div id="showcase">
    <router-view @getData="getData" />
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "showcase",
  methods: {
    getData(val) {
      let _name = val.getAttribute("data-demo");
      this.displayPop = true;
      this.getDetail(_name);
    },
    async getDetail(name) {
      let _url = "./data/demo.json";
      await axios.get(_url).then(response => {
        let res = response.data;
        let _key = Object.keys(res);
        _key.forEach(ele => {
          if (ele === name) {
            this.$emit("popup", res[name]);
            return false;
          }
        });
      });
    }
  }
};
</script>
