<template>
  <div id="website">
    <ul class="list_box">
      <li>
        <a href="javascript:void(0)" data-demo="wl_01" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/wl-008Site.jpg" alt="" />
            </dt>
            <dd>
              <h6>窩客島</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="wl_02" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/wl-009Event_esun.jpg" alt="" />
            </dt>
            <dd>
              <h6>台灣角川 - 活動網站</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="yd" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/yd-001Reading.jpg" alt="" />
            </dt>
            <dd>
              <h6>毅達創意</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="yw_01" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/ig-001Site.jpg" alt="" />
            </dt>
            <dd>
              <h6>愛逛街 - 台灣站及馬來西亞站</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="yw_02" @click.stop="postData">
          <dl>
            <dt>
              <img
                src="@/assets/images/smallImg/ig-002EventTaobao.jpg"
                alt=""
              />
            </dt>
            <dd>
              <h6>優仕網 - 活動網站</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="popo_01" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/popo-001Site.jpg" alt="" />
            </dt>
            <dd>
              <h6>POPO - 起點中文網</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="popo_02" @click.stop="postData">
          <dl>
            <dt>
              <img
                src="@/assets/images/smallImg/popo-002EventPostore.jpg"
                alt=""
              />
            </dt>
            <dd>
              <h6>POPO - 活動網站</h6>
            </dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" data-demo="flylink" @click.stop="postData">
          <dl>
            <dt>
              <img src="@/assets/images/smallImg/fl-001Site.jpg" alt="" />
            </dt>
            <dd>
              <h6>星炫科技</h6>
            </dd>
          </dl>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "website",
  methods: {
    postData(evt) {
      let item = evt.currentTarget;
      this.$emit("getData", item);
    }
  }
};
</script>
