<template>
    <dl class="namecard">
      <dt class="avatar"></dt>
      <dd>
        <ul class="description">
          <li>
            <h1>{{item.meta.title.zh}}</h1>
            <h2>{{item.meta.title.en}}</h2>
          </li>
          <li class="detail">
            <template v-if="introPage">
              <p>貓奴一枚。北園三貓管理者。</p>
              <p>喜歡咖啡。來杯手沖單品。</p>
            </template>
            <template v-else>
              <span title="email">oyan114@hotmail.com</span>
              <a title="Resume" href="https://agnes-kao.notion.site/Agnes-Kao-5f79c90823544276bb6f37220f569b91" target="_blank">Resume</a>
            </template>
          </li>
        </ul>
      </dd>
    </dl>
</template>

<script setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const props = defineProps({
  item: {
    type: Object,
    default: {
      zh: '高慈謙',
      en: 'Agnes Kao'
    }
  }
})

const introPage = computed(() => {
  return route.name === "home"
})
</script>

<style lang="scss" scoped>
a {
  display: block;
  &.href_text {
    pointer-events: none;
  }
}
.description {
  color: $dark;
  margin-left: 10px;
  .detail {
    background-color: $light;
    margin-left: calc((30vw + 20px) * -1);
    padding: 20px 0;
    padding-left: calc(30vw + 20px);
  }
}
.namecard {
  height: 100%;
  display: flex;
  align-items: flex-end;
  dd {
    flex: 1 1 auto;
  }
  h1, h2 {
    font-size: 28px;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
  }
  .avatar {
    background: url('https://agneskao.gitlab.io/assets/img/me_cat.jpg') center center no-repeat;
    background-size: contain;
    width: 30vw;
    height: 30vw;
    max-width: 180px;
    max-height: 180px;
    border-top: 1px solid $primaryPink;
    border-bottom: 1px solid #ecedea;
    box-shadow: 0 0 10px #00000010;
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    overflow: hidden;
  }
}
</style>