<template>
  <header :style="headerStyle">
    <template v-for="parent in menu" :key="parent.name">
      <NameCard :item="parent" />
      <div class="menu">
        <template v-for="child in parent.children" :key="child.name">
          <router-link v-if="!child.children.length" :to="{name: child.name}">
            <h2>{{child.meta.title}}</h2>
          </router-link>
          <template v-else v-for="grand in child.children">
            <router-link v-if="child.children.length <= 1" :to="{name: grand.name}">
              <h2>{{child.meta.title}}</h2>
            </router-link>
            <template v-else>
              <h2>{{child.meta.title}}</h2>
              <router-link :to="{name: grand.name}">{{grand.meta.title}}</router-link>
            </template>
          </template>
        </template>
      </div>
    </template>
  </header>
  <RouterView />
</template>
<script setup>
import { ref, computed, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import NameCard from '@/components/NameCard.vue'
const route = useRoute()
const router = useRouter()

const pageName = computed(() => route.name)

const menu = computed(() => {
  return router.options.routes
    .filter((route) => route.name === 'home')
    .map((route) => {
      const {path = '', name = '', meta = null, children = []} = route;
      route?.children?.map((child) => {
        const {path = '', name = '', meta = null, children = []} = child;
        child.children = children?.filter((item) => {
          return item.meta.hide !== true
        }).map((item) => {
          const {path = '', name = '', meta = null, children = []} = item;
          return {path, name, meta}
        })
        return { path, name, meta, children: child.children }
      })
      return {path, name, meta, children}
    })
})

const headerStyle = ref('')

watch(pageName, (oldValue, newValue) => {
  if (!newValue || oldValue === newValue) {
    if (oldValue !== 'home') {
      return headerStyle.value = { 'position': 'initial' }
    }
    return headerStyle.value = { 'position': 'fixed' }
  }
  if (pageName.value === 'home') {
    return headerStyle.value = { 'position': 'fixed' }
  }
  setTimeout(() => {
    return headerStyle.value = { 'position': 'initial' }
  }, 1000)
})
</script>

<style lang="scss" scoped>
:global(body) {
  color: $dark;
  background-color: $light;
}
:global(a, a:hover, a:active, a:visited) {
  color: $primaryPinkDark;
  text-decoration: underline;
}
header {
  width: 100%;
  background-color: $primaryPink;
  height: inherit;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  transition: width ease-out 1.5s;
  position: fixed;
  z-index: 9;
  a {
    font-size: 18px;
    color: $light;
    padding: 10px 0;
    padding-left: 12px;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 5px;
    transition: box-shadow ease-out 0.3s, color ease-out 0.5s;
    &:hover {
      color: #ffffff;
      box-shadow: 0 -5px 0 $light;
      transition: box-shadow ease-in 0.3s, color ease-in 0.5s;
    }
  }
}
main {
  height: inherit;
  overflow: hidden;
  overflow-y: visible;
  opacity: 0;
  transition: opacity ease-out 1.2s;
  transition-delay: 1s;
}
.menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 20px;
}
</style>