<template>
  <main class="page">
    <router-view />
  </main>
</template>
<script setup>
</script>
<style lang="scss" scoped>
:global(body.home) {
  display: flex;
}
:global(body.home main) {
  padding: 20px;
  opacity: 1;
  transition: opacity ease-in 0.5s;
  flex-grow: 1;
  transition-delay: 1.2s;
  box-sizing: border-box;
}
:global(body.home header) {
  width: 25vw;
  min-width: 300px;
  font-size: 15px;;
  display: inline-flex;
  border-right: 1px solid #ecedea;
  box-shadow: 0 0 10px #00000010;
  transition: width ease-in 1.2s, font-size ease-in 1.2s;
}
:global(body.home .menu a) {
  font-size: 18px;
  color: $light;
  padding: 10px 0;
  padding-left: 12px;
  text-transform: capitalize;
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 0;
  display: block;
  border-right: 0;
  transition: border-right ease-out 0.3s, background-color ease-in 0.8s;
}
:global(body.home .menu a:hover),
:global(body.home .menu a.router-link-active) {
  color: $light;
  box-shadow: none;
  transition: border-right ease-in 0.3s, background-color ease-in 0.8s;
}
:global(body.home .menu a:not(.router-link-active):hover) {
  border-right: 5px solid $primaryPinkDark;
  background-color: rgba($primaryPinkDark, 0.5);
}
:global(body.home .menu a.router-link-active) {
  font-weight: bold;
  border-right: 5px solid $light;
}
:global(body.home .namecard) {
  box-sizing: border-box;
}
:global(body.home .namecard .avatar) {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: width ease-out 1s, height ease-out 1s, border-radius linear 1s;
  transition-delay: 0.2s;
}

:global(body.home .namecard h1) {
  font-size: 24px;
  transition: font-size linear 1s;
}
:global(body.home .namecard h2) {
  font-size: 20px;
  transition: font-size linear 1s;
}
:global(body.home .detail a) {
  font-size: 12px;
  background-color: rgba($primaryPinkDark, 0.15);
  display: inline-block;
  margin-top: 5px;
  padding: 3px 5px;
  box-shadow: 0 0 10px #00000010;
}
:global(body.home .menu) {
  display: block;
  padding-right: 0;
}

@media screen and (max-width: 480px) {
  :global(body.home header) {
    min-width: 30%;
  }
  :global(body.home .namecard) {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  :global(body.home .namecard h1) {
    font-size: 18px;
  }
  :global(body.home .namecard h2) {
    font-size: 16px;
  }
  :global(body.home .namecard .avatar)
  :global(body.home .namecard .detail span),
  :global(body.home .namecard .description .detail)  {
    display: none;
  }

}
</style>